body {
  color: white;
  background-color: #57607E;
}

section.full-height {
  min-height: 100vh;
}



.header-div{
  background-color: rgb(180, 167, 153);
  color: rgb(211, 198, 186);
  margin: 0;
}

#header-social{
  padding-right: 15px;
  padding-top: 15px;
}

a.noClass i {
  text-decoration: none; 
  color: rgb(85, 98, 122);
}

a.noClass:link i {text-decoration:none;}    /* unvisited link */
a.noClass:visited i {text-decoration:none;} /* visited link */
a.noClass:hover i {text-decoration:none;}   /* mouse over link */
a.noClass:active i {text-decoration:none;}  /* selected link */

.no-padding{
  padding: 0;
}
.social-item{
  padding-left: 15px;
  font-size: 130%;
}

.header-subtitle{
  word-spacing: 20px;
}

.orange-text{
  line-height: 70px;
}

#navbar{
  font-size: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.navbar-toggler-icon{
  color: rgb(211, 198, 186) !important;
} 

.nav-link{
  color: rgb(211, 198, 186);
}

.nav-item{
  padding-right: 40px;
  padding-left: 40px;
}

#taste{
  padding-left: 65px;
  height: 50vh;
}

#laberinto-text{
  margin-top: 5%;
  padding-right: 50px;
}

#laberinto-text:after{
  content: '';
	width: 5%;
	left: 55%;
	height: 8px;
	background: #F2513B;
	position: absolute;
	bottom: -1px;
}

#el-laberinto{
  height: 85vh;
}

#laberinto-text-col{
  margin-bottom: 20px;
  padding-left: 0;
}

#laberinto-video{
    object-fit: initial;
    width: 300px;
    height: 400px;
}

.gallery {
  height: 30rem;
}

.video-row{
  width: 100%;
}

/* Gallery */

.carousel-item {
  height: 100%;
  max-height: 50vh;
  max-width: 100%;
  object-fit: cover;
}

.carousel-control-next, .carousel-control-prev {
  align-items: flex-end;
}

.carousel-next, .carousel-prev {
  cursor: pointer;
}

.video1-col {
  height: 65vh;
}

.video2-col {
  height: 25vh;
}

.video {
  object-fit: fill;
  object-position: center;
  width: 100%;
  height: 100%;
}

.img-overlay {
  position: absolute;
  z-index: 100;
  left: 25%;
  top: 15vh;
  width: 50%;
  height: 50vh;
  object-fit: cover;
}

.orange_square{
  height: 100px;
  width: 100%;
  background-color: #F2513B;
}

.orange-hr{
  background-color: #F2513B;
  height: 3px;
  max-width: 20%;
}

.center{
  margin-left: 9%;
}

.first-service{
  background-color: #354253;
}

.second-service{
  background-color: #F0DCC2;
}

.no-border{
  border: 0px !important;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  #dish-img{
    max-height: 20rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(202, 203, 198);
  }
  
  .orange_square{
    position: absolute;
    left: 0;
    height: 100px;
    width: 250px;
    background-color: #F2513B;
  }

  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }

  #laberinto-text{
    margin-left: 40px;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  #dish-img{
    max-height: 18rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(244, 244, 241);
    margin-top: -220px;
  }
  
  .orange_square{
    left: 0;
    height: 100px;
    width: 250px;
    background-color: #F2513B;
  }

  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }

  .text-square{
    margin-left: 90%;
    margin-top: 10%;
    max-width: 1%;
  }

  #laberinto-text{
    margin-left: 40px;
  }

  .upper-border{
    border-top: 3px solid #F2513B;
  }
  
  .telephones{
    margin-left: 10%;
  }

  .message{
    text-align:center;
    color:  #F2513B;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  #dish-img{
    max-height: 15rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(244, 244, 241);
    margin-top: -110px;
  }

  #taste{
    min-height: 270px;
  }

  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }

  #laberinto-text{
    margin-left: 40px;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }

  #dish-img{
    max-height: 15rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(244, 244, 241);
    margin-top: -110px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    padding: 30px;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

  .orange-text{
    color: #F2513B;
    font-size: 3rem;
  }

  #dish-img{
    max-height: 10rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(244, 244, 241);
    margin-top: -90px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin-left: 40px;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .orange-text{
    color: #F2513B;
    font-size: 1rem;
  }

  #dish-img{
    max-height: 8rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(244, 244, 241);
    margin-top: -30px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin-left: 5%;
  }
  
}
