body {
  color: white;
  background-color: #57607E;
}

section {
  border-bottom: 3px solid #F2513B;
}

.header-div{
  background-color: rgb(180, 167, 153);
  color: rgb(211, 198, 186);
  margin: 0;
}

#header-social{
  padding-right: 15px;
  padding-top: 15px;
}

.social-item{
  padding-left: 15px;
  font-size: 130%;
  color: rgb(85, 98, 122);
}

#dish-row{
  margin-top: -240px;
}

#dish-img{
  max-height: 20rem;
  box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
  background-color: rgb(202, 203, 198);
}


.header-subtitle{
  word-spacing: 20px;
}

.orange-text{
  line-height: 70px;
}

#navbar{
  font-size: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-toggler-icon{
  color: rgb(211, 198, 186) !important;
} 

.nav-link{
  color: rgb(211, 198, 186);
}

.nav-item{
  padding: 40px;
}

#taste{
  padding-left: 65px;
}

.gallery {
  height: 30rem;
}

.carousel-item {
  width: 100%;
}

.carousel-control-next, .carousel-control-prev {
  align-items: flex-end;
}

.orange_square{
  height: 100px;
  width: 100%;
  background-color: #F2513B;
}

.orange-hr{
  background-color: #F2513B;
  height: 3px;
  max-width: 20%;
}

.center{
  margin-left: 9%;
}

.first-service{
  background-color: #354253;
}

.second-service{
  background-color: #F0DCC2;
}

.no-border{
  border: 0px !important;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .orange_square{
    position: absolute;
    left: 0;
    height: 100px;
    width: 250px;
    background-color: #F2513B;
  }

  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .orange_square{
    left: 0;
    height: 100px;
    width: 250px;
    background-color: #F2513B;
  }

  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }

  .text-square{
    margin-left: 90%;
    margin-top: 10%;
    max-width: 1%;
  }

  .upper-border{
    border-top: 3px solid #F2513B;
  }
  
  .telephones{
    margin-left: 10%;
  }

  .message{
    text-align:center;
    color:  #F2513B;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

  .orange-text{
    color: #F2513B;
    font-size: 3rem;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .orange-text{
    color: #F2513B;
    font-size: 5rem;
  }
  
}