body {
  color: white;
  background-color: #57627b;
}

section.full-height {
  min-height: 100vh;
}

@keyframes fade-icon-down{
  from{
    opacity: 0;
    transform: scale(1, 0.5);
    transform: translate(0px, -30px);
  }
  to{
    opacity: 1;
    transform: scale(1, 1);
  }
}

.hidden-typewriter {
  opacity: 0;
}

.el-text, .offset-text{
  letter-spacing: 8px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.fade-icon-element{
  animation: fade-icon-down 1s;
}

.header-div{
  background-color: #b2a798;
  color: #e8dcd0;
  margin: 0;
}

.title-regular{
  font-family: "Akzidenz-Grotesk BQ Extended Regular";
}


.title-medium{
  font-family: "Akzidenz-Grotesk BQ Extended Medium";
}

#header-social{
  padding-right: 5%;
}

.header-subtitle, .slab-text{
  font-family: "SlabTallX";
}

.slab-medium-text{
  font-family: "SlabTallXMedium";
}

a.noClass i {
  text-decoration: none; 
  color: rgb(85, 98, 122);
}

a.noClass:link i {text-decoration:none;}    /* unvisited link */
a.noClass:visited i {text-decoration:none;} /* visited link */
a.noClass:hover i {text-decoration:none;}   /* mouse over link */
a.noClass:active i {text-decoration:none;}  /* selected link */

.no-padding{
  padding: 0;
}
.social-item{
  position: relative;
  top: 60px;
  padding-left: 15px;
  font-size: 130%;
  z-index: 10;
}

.header-subtitle{
  letter-spacing: 6px;
  font-size: 1.2rem;
}

.orange-text{
  line-height: 70px;
}

#navbar{
  padding-top: 13vh;
  font-size: 1.7rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

#logo-maze{
  max-width: 20vw;
  position: absolute;
  left: 40vw;
  top: 12%;
  z-index: 100;
}

.a-maze{
  max-width: 6vw;
  position: fixed;
  left: 46vw;
  top: 12%;
  z-index: 100;
}

.img-hidden{
  opacity:0;   
}

.img-show{
  opacity:1;
  transition:opacity 0.5s linear;
}

.navbar-toggler-icon{
  color: rgb(211, 198, 186) !important;
} 

.nav-link{
  color: rgb(211, 198, 186);
}

.nav-item{
  padding-right: 40px;
  padding-left: 40px;
  font-family: 'SlabTallX';
}

#taste{
  padding-top: 20px;
  padding-left: 65px;
}

#laberinto-text{
  color: #e8dcd0;
}


#laberinto-text:after{
  content: '';
	width: 8%;
	left: 45%;
	height: 8px;
	background: #e95338;
	position: absolute;
	bottom: -5px;
}

#el-laberinto{
  min-height: 85vh;
  color: #e8dcd0;
}

#laberinto-text-col{
  margin-bottom: 20px;
  padding-left: 0;
}

#laberinto-video-col{
  width: 100%;
  text-align: center;
}

/* Videos */

.video {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.img-overlay {
  position: absolute;
  z-index: 90;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.video1-col {
  height: 65vh;
}

.video2-col {
  height: 30vh;
}

/* Gallery */

.carousel-img {
  height: 51vh;
  width: 50vh;
  object-fit: cover;
}

.carousel-control-next, .carousel-control-prev {
  align-items: flex-end;
}

.carousel-next, .carousel-prev {
  cursor: pointer;
}

.orange_square{
  width: 330px;
  background-color: #e95338;
}

.orange-hr{
  background-color: #e95338;
  height: 3px;
  max-width: 30%;
}

.center{
  margin-left: 9%;
}

.first-service{
  background-color: #354253;
  margin-bottom: 15%;
}

.second-service{
  background-color: #F0DCC2;
  margin-bottom: 15%;
}

.no-border{
  border: 0px !important;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: 25px;
  }

  #typewriter-1{
    left: 5vw;
    top: 250vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 400vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }

  #dish-img{
    max-height: 20rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(202, 203, 198);
  }
  
  .orange_square{
    position: absolute;
    left: 0;
    height: 500px;
    width: 300px;
    background-color: #e95338;
  }

  .orange-text{
    color: #e95338;
    font-size: 5rem;
  }

  .welcome-text{
    font-size: 3rem;
  }

  .text-square{
    margin-left: 90%;
    margin-top: 10%;
    max-width: 1%;
    font-family: 'SlabTallX';
  }

  .upper-border{
    border-top: 3px solid #e95338;
  }
  
  .telephones{
    margin-left: 10%;
  }

  .message{
    text-align:center;
    color:  #e95338;
  }

  #laberinto-text{
    margin: auto;
    padding: 12%;
    font-size: 5rem;
  }

  #laberinto-video{
    width: 80%;
  }

  #laberinto-video{
    width: 80%;
  }
  
  #typewriter-1{
    left: 5vw;
    top: 300vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 350vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }

  #car-col-1{
    position: relative;
    left: 6%;
  }
  
  #car-col-2{
    position: relative;
    right: 6%;
  }

  .prev-col{
    position: relative;
    left: 2%;
  }

  .d-image{
    max-height: 21vh;
    width: 24vw;
    margin-top: -6vh;
    margin-left: 15%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 25vh;
    width: 25vh;
    margin-top: -10vh;
    margin-left: 32%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  #laberinto-text{
    padding: 12%;
    padding-left: 0;
    padding-right: 10%;
    font-size: 1.3rem;
    position: relative;
    left: 20%;
  }

  #typewriter-1{
    left: 5vw;
    top: 280vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 360vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }


  #dish-img{
    max-height: 26rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(181, 187, 192);
    margin-top: -330px;
  }
  
  .orange_square{
    left: 0;
    height: 150px;
    width: 330px;
    background-color: #e95338;
    display: flex;
    margin-bottom: 5%;
  }

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -160px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: -1px;
  }

  .orange-text{
    color: #e95338;
    font-size: 3rem;
    line-height: 50px;
    letter-spacing: 5px;
  }

  .welcome-text{
    font-size: 1.5rem;
    width: 300px;
    margin-bottom: 125px;
  }

  .text-square{
    margin-left: 100%;
    margin-top: 18%;
    font-family: 'SlabTallX';
    font-size: 40pt;
  }

  .upper-border{
    border-top: 3px solid #e95338;
  }
  
  .telephones{
    margin-left: 20%;
    font-family: 'SlabTallX';
    font-size: 16pt;
  }

  .message{
    text-align:center;
    color:  #e95338;
    font-family: 'SlabTallX';
    font-size: 14pt;
  }

  #laberinto-video{
    width: 80%;
  }

  #car-col-1{
    position: relative;
    left: 6%;
  }
  
  #car-col-2{
    position: relative;
    right: 6%;
  }

  .prev-col{
    position: relative;
    left: 2%;
  }

  .d-image{
    max-height: 11rem;
    margin-top: -6vh;
    margin-left: 15%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 11rem;
    margin-top: -10vh;
    margin-left: 32%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: 25px;
  }

  #typewriter-1{
    left: 5vw;
    top: 260vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 360vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }

  .orange_square{
    left: 0;
    background-color: #e95338;
  }

  #dish-img{
    max-height: 15rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(181, 187, 192);
    margin-top: -110px;
  }

  #taste{
    min-height: 270px;
  }

  .orange-text{
    color: #e95338;
    font-size: 4rem;
    letter-spacing: 2px;
  }

  .welcome-text{
    font-size: 2rem;
    margin-bottom: 140px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
    padding-left: 10%;
  }

  #laberinto-video{
    width: 80%;
  }

  .d-image{
    max-height: 5rem;
    margin-top: -6vh;
    margin-left: 15%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 5rem;
    margin-top: -10vh;
    margin-left: 32%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: 25px;
  }

  #typewriter-1{
    left: 5vw;
    top: 260vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 360vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }
  
  .orange-text{
    color: #e95338;
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .orange_square{
    left: 0;
    background-color: #e95338;
  }

  .welcome-text{
    font-size: 1.5rem;
    margin-bottom: 130px;
  }

  #dish-img{
    max-height: 15rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(181, 187, 192);
    margin-top: -110px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
    padding-left: 10%;
  }

  #laberinto-video{
    width: 80%;
  }

  .d-image{
    max-height: 7rem;
    margin-top: -6vh;
    margin-left: 15%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 7rem;
    margin-top: -10vh;
    margin-left: 32%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: 25px;
  }

  #typewriter-1{
    display: none;
  }
  
  #typewriter-2{
    display: none;
  }
  
  .orange-text{
    color: #e95338;
    font-size: 3rem;
  }

  .welcome-text{
    font-size: 1.5rem;
    margin-bottom: 125px;
  }

  #dish-img{
    max-height: 10rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(181, 187, 192);
    margin-top: -90px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  #laberinto-video{
    width: 100%;
  }

  .orange_square{
    left: 0;
    background-color: #e95338;
  }

  #gallery {
    padding-top: 0;
  }

  #carousel-2 {
    margin-top: 10px;
  }

  .d-image{
    max-height: 8rem;
    margin-top: -6vh;
    margin-left: 35%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 8rem;
    margin-top: -10vh;
    margin-left: 42%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .el-text{
    font-size: 2.5rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 2rem;
    position: relative;
    top: -45px;
  }

  #typewriter-1{
    display: none;
  }
  
  #typewriter-2{
    display: none;
  }

  .orange-text{
    color: #e95338;
    font-size: 2rem;
    line-height: 20px;
  }

  .orange_square{
    left: 0;
    background-color: #e95338;
  }

  .welcome-text{
    font-size: 1rem;
  }

  #dish-img{
    max-height: 8rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(197, 355, 205);
    margin-top: -30px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  #laberinto-video{
    width: 100%;
  }
  
  #gallery {
    padding-top: 0;
  }

  #carousel-2 {
    margin-top: 10px;
  }

  #car-col-1{
    width: 100%;
  }
  
  #car-col-2{
    width: 100%;
  }

  .d-image{
    max-height: 7rem;
    margin-top: -6vh;
    margin-left: 30%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 7rem;
    margin-top: -10vh;
    margin-left: 40%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }
}
