body {
  color: white;
  background-color: #57627b;
}

section.full-height {
  min-height: 100vh;
}

@keyframes fade-icon-down{
  from{
    opacity: 0;
    transform: scale(1, 0.5);
    transform: translate(0px, -30px);
  }
  to{
    opacity: 1;
    transform: scale(1, 1);
  }
}

.el-text, .offset-text{
  letter-spacing: 8px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.fade-icon-element{
  animation: fade-icon-down 1s;
}

.header-div{
  background-color: #b2a798;
  color: #e8dcd0;
  margin: 0;
}

.title-regular{
  font-family: "Akzidenz-Grotesk BQ Extended Regular";
}


.title-medium{
  font-family: "Akzidenz-Grotesk BQ Extended Medium";
}

#header-social{
  padding-right: 5%;
}

.header-subtitle, .slab-text{
  font-family: "SlabTallX";
}

.slab-medium-text{
  font-family: "SlabTallXMedium";
}

a.noClass i {
  text-decoration: none; 
  color: rgb(85, 98, 122);
}

a.noClass:link i {text-decoration:none;}    /* unvisited link */
a.noClass:visited i {text-decoration:none;} /* visited link */
a.noClass:hover i {text-decoration:none;}   /* mouse over link */
a.noClass:active i {text-decoration:none;}  /* selected link */

.no-padding{
  padding: 0;
}
.social-item{
  position: relative;
  top: 60px;
  padding-left: 15px;
  font-size: 130%;
  z-index: 10;
}

.header-subtitle{
  letter-spacing: 6px;
  font-size: 1.2rem;
}

.orange-text{
  line-height: 70px;
}

#navbar{
  padding-top: 13vh;
  font-size: 1.7rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

#logo-maze{
  max-width: 20vw;
  position: absolute;
  left: 40vw;
  top: 12%;
  z-index: 100;
}

.a-maze{
  max-width: 6vw;
  position: fixed;
  left: 46vw;
  top: 12%;
  z-index: 100;
}

.img-hidden{
  opacity:0;   
}

.img-show{
  opacity:1;
  transition:opacity 0.5s linear;
}

.navbar-toggler-icon{
  color: rgb(211, 198, 186) !important;
} 

.nav-link{
  color: rgb(211, 198, 186);
}

.nav-item{
  padding-right: 40px;
  padding-left: 40px;
  font-family: 'SlabTallX';
}

#taste{
  padding-top: 20px;
  padding-left: 65px;
}

#laberinto-text{
  color: #e8dcd0;
}


#laberinto-text:after{
  content: '';
	width: 8%;
	left: 45%;
	height: 8px;
	background: #e95338;
	position: absolute;
	bottom: -5px;
}

#el-laberinto{
  min-height: 85vh;
  color: #e8dcd0;
  position: relative;
}

#laberinto-text-col{
  margin-bottom: 20px;
  padding-left: 0;
}

#laberinto-video{
  height: 100%;
  width: auto;
  transform: translateX(-50%);
}

/* Videos */

.video {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.img-overlay {
  position: absolute;
  left: 50%;
  top: 35vh;
  width: auto;
  height: 50vh;
  object-fit: cover;
  z-index: 90;
  transform: translate(-50%, -50%);
}

.video1-col {
  height: 70vh;
  z-index: 70;
}

.video2-col {
  height: 30vh;
}

.video-line-1 {
  position: absolute;
  top: 35vh;
  background-color: #e95338;
  height: 15px;
  width: 50%;
  display: inline-block;
  z-index: 20;
}

.video-line-2 {
  position: absolute;
  top: 35vh;
  background-color: #e95338;
  height: 15px;
  width: 49vw;
  display: inline-block;
  left: 50vw;
  z-index: 80;
}

/* Gallery */

.carousel {
  z-index: 90;
}

.carousel-img {
  height: 55vh;
  width: 50vh;
  object-fit: cover;
}

.carousel-control-next, .carousel-control-prev {
  align-items: flex-end;
}

.carousel-next, .carousel-prev {
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.gallery-line{
  position: absolute;
  top: 25vh;
  background-color: #e95338;
  height: 15px;
  width: 83%;
  display: inline-block;
  z-index: 80;
}

.orange_square{
  width: 330px;
  background-color: #e95338;
}

.orange-hr{
  background-color: #e95338;
  height: 3px;
  max-width: 30%;
}

.center{
  margin-left: 9%;
}

.first-service{
  background-color: #364056;
  margin-bottom: 15%;
}

.second-service{
  background-color: #F0DCC2;
  margin-bottom: 15%;
}

.no-border{
  border: 0px !important;
}

.upper-border{
  border-top: 3px solid #e95338;
}

/* Handwriting animation */

#services {
  position: relative;
}

.handwriting {
  opacity: 0;
}

.amazing-food {
  transform: rotate(270deg);
  transform-origin: 0% 0%;
  position: absolute;
  left: 43%;
  top: 95%;
  width: 55%;
  z-index: 90;
}

.a-la-medida {
  transform: rotate(270deg);
  transform-origin: 0% 0%;
  position: absolute;
  left: 41%;
  top: 85%;
  width: 65%;
  z-index: 90;
}

.pen {
  opacity: 1;
  fill: none;
  stroke: #364056;
  stroke-width: 14;
  stroke-linecap: round;

  stroke-dasharray: 5500 5500;
  stroke-dashoffset: 5500;
  animation-duration: 4s;
  animation-name: draw;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 5500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.typewriter-rect{
  position: absolute;
}

.hidden-typewriter {
  opacity: 0;
}

.typewriter-text{
  letter-spacing: 10px;
  font-size: 1.05rem;
  color: #e8dcd0;
}

/* Services */

.sub-title{
  text-align: center;
  color: #B2A798;
  font-family: 'AnderfontFree ';
  font-size: 64pt;
  margin-left: 30%;
  margin-top: -30%;
  line-height: 0.5%;
}

.sub-title-2{
  text-align: center;
  color: #B2A798;
  font-family: 'AnderfontFree ';
  font-size: 64pt;
  margin-left: 22%;
  margin-top: -30%;
  line-height: 1%;
}

.cena-mob{
  text-align: center;
  font-family: 'Akzidenz-Grotesk BQ Extended Medium';
  letter-spacing: 0.7rem;
  color: #B2A798;
}
.tenedor{
  max-width: 25%;
  max-height: 50%;
  margin-left: 40%;
}

.cuchara{
  max-width: 25%;
  max-height: 50%;
  margin-left: 40%;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -47px;
    color: #e8dcd0;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: 25px;
    color: #e8dcd0;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }

  #dish-img{
    max-height: 20rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.5);
    background-color: rgb(202, 203, 198);
  }

  .orange_square{
    left: 0;
    height: 200px;
    width: 330px;
    background-color: #e95338;
    display: flex;
    margin-bottom: 5%;
  }

  .orange-text{
    color: #e95338;
    font-size: 5rem;
  }

  .welcome-text{
    font-size: 3rem;
  }

  .text-square{
    margin-left: 100%;
    margin-top: 18%;
    font-family: 'SlabTallX';
    font-size: 40pt;
  }
  
  .telephones{
    font-family: 'SlabTallX';
    font-size: 16pt;
  }

  .message{
    text-align:center;
    color:  #e95338;
  }

  #laberinto-text{
    margin: auto;
    padding: 12%;
  }
  
  #typewriter-1{
    left: 5vw;
    top: 300vh;
    z-index: 100;
  }

  #typewriter-1-rect{
    background-color: #e95338;
    height: 15px;
    width: 5px;
    left: 5.7%;
    top: 305vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 370vh;
    z-index: 100;
  }

  #typewriter-2-rect{
    background-color: #e95338;
    height: 15px;
    width: 5px;
    left: 91.9%;
    top: 375vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }

  #car-col-1{
    position: relative;
    left: 6%;
  }
  
  #car-col-2{
    position: relative;
    right: 6%;
  }

  .prev-col{
    position: relative;
    left: 2%;
  }

  .d-image{
    max-height: 21vh;
    width: 24vw;
    margin-top: -6vh;
    margin-left: 15%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 25vh;
    width: 25vh;
    margin-top: -10vh;
    margin-left: 32%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }

  .sub-title{
    text-align: center;
    color: #AEA495;
    font-family: 'AnderfontFree ';
    font-size: 64pt;
    margin-left: 22%;
    margin-top: -30%;
    line-height: 0.5%;
  }

  .sub-title-2{
    text-align: center;
    color: #AEA495;
    font-family: 'AnderfontFree ';
    font-size: 64pt;
    margin-left: 10%;
    margin-top: -30%;
    line-height: 1%;
  }

  .tenedor{
    max-width: 25%;
    max-height: 50%;
    margin-top: -80%;
    margin-left: -30%;
  }
  .cuchara{
    max-width: 25%;
    max-height: 50%;
    margin-top: -140%;
    margin-left: 105%;
  }

  .amazing-food{
    width: 80vh;
  }

  .a-la-medida{
    left: 45vw;
    width: 80vh;
  }

  #laberinto-video-col{
    height: 100vh;
    max-width: 70vw;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: -4.5rem;
    left: 10rem;
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  #laberinto-text{
    padding: 12%;
    padding-left: 0;
    padding-right: 10%;
    font-size: 1.3rem;
    position: relative;
    left: 20%;
  }

  #typewriter-1{
    left: 5vw;
    top: 300vh;
    z-index: 100;
    font-weight: 100;
  }

  #typewriter-1-rect{
    background-color: #e95338;
    height: 15px;
    width: 5px;
    left: 5.7%;
    top: 305vh;
  }
  
  #typewriter-2{
    left: 90vw;
    top: 380vh;
    z-index: 100;
  }

  #typewriter-2-rect{
    background-color: #e95338;
    height: 15px;
    width: 5px;
    left: 91.9%;
    top: 385vh;
  }

  #laberinto-video-col{
    height: 100vh;
    max-width: 70vw;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: -4.5rem;
    left: 12rem;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }


  #dish-img{
    max-height: 26rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.5);
    background-color: rgb(181, 187, 192);
    margin-top: -330px;
  }
  
  .el-text{
    font-size: 3rem;
    position: relative;
    left: -160px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: -1px;
  }

  .welcome-text{
    font-size: 1.5rem;
    width: 300px;
    margin-bottom: 125px;
  }

  #laberinto-video{
    padding-top: 25%;
  }

  #car-col-1{
    position: relative;
    left: 6%;
  }
  
  #car-col-2{
    position: relative;
    right: 6%;
  }

  .prev-col{
    position: relative;
    left: 2%;
  }

  .orange_square{
    left: 0;
    height: 200px;
    width: 330px;
    background-color: #e95338;
    display: flex;
    margin-bottom: 5%;
  }

  .orange-text{
    color: #e95338;
    font-size: 3rem;
    line-height: 50px;
    letter-spacing: 5px;
  }

  .text-square{
    margin-left: 100%;
    margin-top: 18%;
    font-family: 'SlabTallX';
    font-size: 40pt;
  }
  
  .telephones{
    font-family: 'SlabTallX';
    font-size: 16pt;
    text-align: center;
  }

  .message{
    text-align:center;
    color:  #e95338;
    font-family: 'SlabTallX';
    font-size: 14pt;
  }

  .d-image{
    max-height: 11rem;
    margin-top: -6vh;
    margin-left: 15%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px rgba(0,0,0,0.5));
  }

  .d-image-2{
    max-height: 17rem;
    margin-top: -17vh;
    margin-left: 18%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 8px rgba(0,0,0,0.5));
  }

  .sub-title{
    margin-left: 22%;
  }

  .sub-title-2{
    margin-left: 10%;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: 25px;
  }

  #typewriter-1{
    left: 5vw;
    top: 260vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 360vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }

  #dish-img{
    max-height: 15rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.5);
    background-color: rgb(181, 187, 192);
    margin-top: -110px;
  }

  #taste{
    min-height: 270px;
  }

  .welcome-text{
    font-size: 2rem;
    margin-bottom: 140px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
    padding-left: 10%;
  }

  #laberinto-video{
    padding-top: 40%;
    width: 100%;
  }

  #laberinto-video-col{
    height: 70vh;
    text-align: center;
  }

  .amazing-food{
    left: 42%;
  }

  .orange_square{
    left: 0;
    background-color: #e95338;
  }

  .orange-text{
    color: #e95338;
    font-size: 4rem;
    letter-spacing: 2px;
  }

  .text-square{
    margin-left: 100%;
    margin-top: 2%;
    font-family: 'SlabTallX';
    font-size: 40pt;
  }
  
  .telephones{
    font-family: 'SlabTallX';
    font-size: 16pt;
  }

  .message{
    text-align:center;
    color:  #e95338;
    font-family: 'SlabTallX';
    font-size: 14pt;
  }

  .offset-md-4 .space{
    margin-left: 18%;
  }
  .d-image{
    max-height: 5rem;
    margin-top: -2vh;
    margin-left: 20%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 6rem;
    margin-top: -3vh;
    margin-left: 32%;
    margin-bottom: 10%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }

  .sub-title-2{
    margin-left: 10%;
  }

  .tenedor{
    margin-left: 35%;
  }

  .cuchara{
    margin-left: 35%;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: 25px;
  }

  #typewriter-1{
    left: 5vw;
    top: 260vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 360vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }
  
  .orange-text{
    color: #e95338;
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .orange_square{
    left: 0;
    background-color: #e95338;
  }

  .welcome-text{
    font-size: 1.5rem;
    margin-bottom: 130px;
  }

  #dish-img{
    max-height: 15rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.5);
    background-color: rgb(181, 187, 192);
    margin-top: -110px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
    padding-left: 10%;
  }

  .d-image{
    max-height: 7rem;
    margin-top: -6vh;
    margin-left: 15%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 7rem;
    margin-top: -10vh;
    margin-left: 32%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }

  #laberinto-video-col{
    height: 60vh;
    text-align: center;
    position: relative;
    top: 2rem;
    left: 10rem;
  }

  #laberinto-video{
   margin-left: 50%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .el-text{
    font-size: 3rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 3rem;
    position: relative;
    top: -58px;
    left: 25px;
  }

  #typewriter-1{
    display: none;
  }
  
  #typewriter-2{
    display: none;
  }
  
  .orange-text{
    color: #e95338;
    font-size: 3rem;
  }

  .welcome-text{
    font-size: 1.5rem;
    margin-bottom: 125px;
  }

  #dish-img{
    max-height: 10rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.5);
    background-color: rgb(181, 187, 192);
    margin-top: -90px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  .orange_square{
    left: 0;
    background-color: #e95338;
  }

  #gallery {
    padding-top: 0;
  }

  #carousel-2 {
    margin-top: 10px;
  }

  .text-square{
    margin-left: 5%;
    font-family: 'SlabTallX';
    font-size: 40pt;
  }

  .d-image{
    max-height: 8rem;
    margin-top: -3vh;
    margin-left: 35%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 8rem;
    margin-top: -4vh;
    margin-left: 42%;
    margin-bottom: 5%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px #222);
  }

  .gallery-line {
    display: none;
  }

  .amazing-food{
    display: none;
  }

  #laberinto-video-col{
    width: 100vw;
    height: 50vh;
    text-align: center;
    position: relative;
  }

  #laberinto-video{
    transform: none;
  }

  .a-la-medida{
    display: none;
  }

  .cuchara{
    margin-left: 40%;
    max-width: 10%;
    max-height: 50%;
  }

  .tenedor{
    margin-left: 40%;
    max-width: 10%;
    max-height: 50%;
  }

  .telephones{
    font-family: 'SlabTallX';
    font-size: 16pt;
  }

  .message{
    text-align:center;
    color:  #e95338;
    font-family: 'SlabTallX';
    font-size: 14pt;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .el-text{
    font-size: 2.5rem;
    position: relative;
    left: -47px;
  }

  .offset-text{
    font-size: 2rem;
    position: relative;
    top: -45px;
  }

  #typewriter-1{
    display: none;
  }
  
  #typewriter-2{
    display: none;
  }

  .welcome-text{
    font-size: 1rem;
  }

  #dish-img{
    max-height: 8rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.5);
    background-color: rgb(197, 355, 205);
    margin-top: -30px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  #laberinto-video{
    transform: none;
    width: 90vw;
  }
  
  #gallery {
    padding-top: 0;
  }

  #carousel-2 {
    margin-top: 10px;
  }

  #car-col-1{
    width: 100%;
  }
  
  #car-col-2{
    width: 100%;
  }

  .gallery-line {
    display: none;
  }

  .img-overlay {
    width: 50%;
  }

  .amazing-food{
    display: none;
  }

  .a-la-medida{
    display: none;
  }

  .orange-text{
    color: #e95338;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 20px;
  }

  .orange_square{
    left: 0;
    background-color: #e95338;
  }

  .text-square{
    margin-left: 15%;
    margin-top: 2%;
    font-family: 'SlabTallX';
    font-size: 40pt;
  }
  
  .telephones{
    font-family: 'SlabTallX';
    font-size: 16pt;
  }

  .message{
    text-align:center;
    color:  #e95338;
    font-family: 'SlabTallX';
    font-size: 14pt;
  }

  .space{
    margin-left: 18%;
  }

  .d-image{
    max-height: 8rem;
    margin-top: -3vh;
    margin-left: 23%;
    margin-bottom: 2%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-10px 8px 5px #222);
  }

  .d-image-2{
    max-height: 10rem;
    margin-top: -5vh;
    margin-left: 30%;
    -webkit-filter: drop-shadow(5px 5px 5px #7070741a);
    filter: drop-shadow(7px 15px 5px rgba(0,0,0,0.5));
  }

  .cena-mob{
    margin-left: -10%;
  }

  .sub-title{
    margin-left: 18%;
  }

  .sub-title-2{
    margin-left: 10%;
  }

  .tenedor{
    margin-left: 35%;
  }

  .cuchara{
    margin-left: 35%;
  }

}
