body {
  color: white;
  background-color: #57627b;
}

section.full-height {
  min-height: 100vh;
}

@keyframes fade-icon-down{
  from{
    opacity: 0;
    transform: scale(1, 0.5);
    transform: translate(0px, -30px);
  }
  to{
    opacity: 1;
    transform: scale(1, 1);
  }
}

.hidden-typewriter {
  opacity: 0;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#logo-maze{
  max-width: 30vw;
}

.fade-icon-element{
  animation: fade-icon-down 1s;
}

.header-div{
  background-color: #b2a798;
  color: #e8dcd0;
  margin: 0;
}

.title-regular{
  font-family: "Akzidenz-Grotesk BQ Extended Regular";
}

.title-medium{
  font-family: "Akzidenz-Grotesk BQ Extended Medium";
}

#header-social{
  padding-right: 15px;
  padding-top: 15px;
}

.header-subtitle, .slab-text{
  font-family: "SlabTallX";
}

.slab-medium-text{
  font-family: "SlabTallXMedium";
}

a.noClass i {
  text-decoration: none; 
  color: rgb(85, 98, 122);
}

a.noClass:link i {text-decoration:none;}    /* unvisited link */
a.noClass:visited i {text-decoration:none;} /* visited link */
a.noClass:hover i {text-decoration:none;}   /* mouse over link */
a.noClass:active i {text-decoration:none;}  /* selected link */

.no-padding{
  padding: 0;
}
.social-item{
  padding-left: 15px;
  font-size: 130%;
}

.header-subtitle{
  word-spacing: 20px;
}

.orange-text{
  line-height: 70px;
}

#navbar{
  font-size: 1.7rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.navbar-toggler-icon{
  color: rgb(211, 198, 186) !important;
} 

.nav-link{
  color: rgb(211, 198, 186);
}

.nav-item{
  padding-right: 40px;
  padding-left: 40px;
  font-family: 'SlabTallX';
}

#taste{
  padding-top: 20px;
  padding-left: 65px;
}


#laberinto-text:after{
  content: '';
	width: 5%;
	left: 55%;
	height: 8px;
	background: #e95338;
	position: absolute;
	bottom: -40px;
}

#el-laberinto{
  min-height: 85vh;
}

#laberinto-text-col{
  margin-bottom: 20px;
  padding-left: 0;
}

#laberinto-video-col{
  width: 100%;
  text-align: center;
}


.gallery {
  height: 30rem;
}

.video-row{
  width: 100%;
}

/* Gallery */

.carousel-item {
  height: 100%;
  max-height: 50vh;
  max-width: 100%;
  object-fit: cover;
}

.carousel-control-next, .carousel-control-prev {
  align-items: flex-end;
}

.carousel-next, .carousel-prev {
  cursor: pointer;
}

.video1-col {
  height: 65vh;
}

.video2-col {
  height: 25vh;
}

.video {
  object-fit: fill;
  object-position: center;
  width: 100%;
  height: 100%;
}

.img-overlay {
  position: absolute;
  z-index: 100;
  left: 25%;
  top: 15vh;
  width: 50%;
  height: 50vh;
  object-fit: cover;
}

.orange_square{
  height: 100px;
  width: 100%;
  background-color: #e95338;
}

.orange-hr{
  background-color: #e95338;
  height: 3px;
  max-width: 20%;
}

.center{
  margin-left: 9%;
}

.first-service{
  background-color: #354253;
}

.second-service{
  background-color: #F0DCC2;
}

.no-border{
  border: 0px !important;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  #dish-img{
    max-height: 20rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(202, 203, 198);
  }
  
  .orange_square{
    position: absolute;
    left: 0;
    height: 100px;
    width: 250px;
    background-color: #e95338;
  }

  .orange-text{
    color: #e95338;
    font-size: 5rem;
  }

  .welcome-text{
    font-size: 3rem;
  }

  #laberinto-video{
    width: 80%;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  #typewriter-1{
    left: 5vw;
    top: 300vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 400vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }


  #dish-img{
    max-height: 26rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(181, 187, 192);
    margin-top: -330px;
  }
  
  .orange_square{
    left: 0;
    height: 100px;
    width: 250px;
    background-color: #e95338;
  }

  .orange-text{
    color: #e95338;
    font-size: 3rem;
    line-height: 50px;
    letter-spacing: 5px;
  }

  .welcome-text{
    font-size: 1.5rem;
    width: 300px;
    margin-bottom: 125px;
  }

  .text-square{
    margin-left: 90%;
    margin-top: 10%;
    max-width: 1%;
  }

  .upper-border{
    border-top: 3px solid #e95338;
  }
  
  .telephones{
    margin-left: 10%;
  }

  .message{
    text-align:center;
    color:  #e95338;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  #laberinto-video{
    width: 80%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  #typewriter-1{
    left: 5vw;
    top: 260vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 360vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }


  #dish-img{
    max-height: 15rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(181, 187, 192);
    margin-top: -110px;
  }

  #taste{
    min-height: 270px;
  }

  .orange-text{
    color: #e95338;
    font-size: 4rem;
    letter-spacing: 2px;
  }

  .welcome-text{
    font-size: 2rem;
    margin-bottom: 140px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  #laberinto-video{
    width: 80%;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  #typewriter-1{
    left: 5vw;
    top: 260vh;
  }
  
  #typewriter-2{
    margin-left: 90vw;
    top: 360vh;
  }

  .typewriter-animate{
    opacity: 1;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 0% 0%; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typing 3.5s steps(80, end);
  }
  
  .orange-text{
    color: #e95338;
    font-size: 5rem;
    letter-spacing: 2px;
  }

  .welcome-text{
    font-size: 2.5rem;
    margin-bottom: 130px;
  }

  #dish-img{
    max-height: 15rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(181, 187, 192);
    margin-top: -110px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  #laberinto-video{
    width: 80%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  #typewriter-1{
    display: none;
  }
  
  #typewriter-2{
    display: none;
  }
  
  .orange-text{
    color: #e95338;
    font-size: 3rem;
  }

  .welcome-text{
    font-size: 1.5rem;
    margin-bottom: 125px;
  }

  #dish-img{
    max-height: 10rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(181, 187, 192);
    margin-top: -90px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  #laberinto-video{
    width: 100%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  #typewriter-1{
    display: none;
  }
  
  #typewriter-2{
    display: none;
  }

  .orange-text{
    color: #e95338;
    font-size: 2rem;
    line-height: 20px;
  }

  .welcome-text{
    font-size: 1rem;
  }

  #dish-img{
    max-height: 8rem;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
    background-color: rgb(197, 355, 205);
    margin-top: -30px;
  }

  #taste{
    min-height: 270px;
  }

  #laberinto-text{
    margin: auto;
    padding: 5%;
  }

  #laberinto-video{
    width: 100%;
  }
  
}
